body
{
    margin: 0px;
    background: purple;
}

.button_user_select
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    height: 60px;
    width: 80%;
}

.main
{
    margin: 1% 1% 1% 1%;
    border: yellow solid 4px;
}

.doboz
{
    text-align: center;
}

.bottom_menu
{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    z-index: 2000;
    margin: 0px;
    background: black;
}

.bottom_menu button
{
    width: 18%;
    height: 40px;
}

.szoveg_cella
{
    margin: 1% 0% 0% 0%;
    width: 100%;
    background: red;
    display: flex;
    justify-content: space-evenly;
}
.szoveg_cella_alul
{
    line-height: 1.2em;
    height: 1.2em;
    margin: 0% 0% 1% 0%;
    width: 100%;
    background: green;
    overflow: hidden;
}
.szoveg_cella_tags
{
    line-height: 1.2em;
    height: 1.2em;
    margin: 0% 0% 1% 0%;
    width: 100%;
    background: blue;
    overflow: hidden;
}

.szoveg_cella_bal, .szoveg_cella_jobb
{
    position: relative;
    width: 50%;
    margin: 0px;
}

.szoveg_cella_jobb
{
    color: transparent;
}

.fav-button
{
    position: absolute;
    top: 0px;
    right: 0px;
}

#kiiras
{
    text-align: left;
}

.overlay
{
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;

    backdrop-filter: blur(2px);
    z-index: 9000;
}

.addword_tooltip {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 70%;
    height: 70%;
    
    background-color: aquamarine;
    display: flex;
    
    z-index: 9999; /* Minden más fölé helyezi */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Árnyék a jobb láthatóságért */
    border-radius: 10px; /* Lekerekített sarkok (opcionális) */
    padding: 20px; /* Belső térköz */
}

.addword_tooltip .cross
{
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 2%;
    margin-top: 2%;
}